<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>506740435698-cm74g8u5c5iacjvi2s1mt7jm55gignma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506740435698-cm74g8u5c5iacjvi2s1mt7jm55gignma</string>
	<key>API_KEY</key>
	<string>AIzaSyBi5m0hVSi4j-U35S8dPpOQCmds8hbVYsU</string>
	<key>GCM_SENDER_ID</key>
	<string>506740435698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
        <string>com.learnacademy.mobile</string>
	<key>PROJECT_ID</key>
	<string>learn-app-44986</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-app-44986.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506740435698:ios:2b09d4e9cecb688a</string>
	<key>DATABASE_URL</key>
	<string>https://learn-app-44986.firebaseio.com</string>
</dict>
</plist>
